{% extends "layout.html" %}

{% block title %}
    <a href="/ai">AI</a>
    <div>Answer{% if query.topic %} on {{query.topic}}{% endif %}</div>
{% endblock %}


{% block body %}

{% if current_user.is_teacher %}
<details>
    <summary><h2>Input messages</h2></summary>
    {% for msg in query.messages %}
    <h3>{{msg.role}}</h3>
    <div style="white-space: pre-wrap;">{{msg.content}}</div>
    {% endfor %}
</details>
{% endif %}

<h2>Response message</h2>
{{query.answer|markdown|safe}}
<div class="notification">
    {{query.model}} | {{query.milli_dollars}} m$
</div>

{% endblock %}