{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
    <a href="/companies">Companies</a>
    <a href="#" >{{ company.name }}</a>
{% endblock%}

{% block bare_body %}
<div class="company company-banner" style="{{ 'background-color: ' + company.background_color + '; color: ' + company.foreground_color + ';'}}">
    <div class="company-header container large" >
        {% if company.logo_file %}
        <img class="logo" src="{{ company.logo_file }}">
        {% endif %}
        {% if not company.logo_file or not company.logo_includes_name %}
        <div class="name">{{ company.name }}</div>
        {% endif %}
    </div>
    
    <div class="company-info container">
        {% for column in [
            [
                ('description', 'What we do'),
                ('technologies', 'Technologies')
            ],
            [
                ('city', 'City'),
                ('address', 'Address'),
                ('size', 'Total employees'),
                ('developers', 'Developers'),
                ('promotext', 'Why work here'),
            ],
            [
                ('intern_welcome', 'Open for interns'),
                ('intern_fee', 'Monthly internship fee') if company.intern_welcome else ('',''),
                ('english_welcome', 'Internationals welcome') if company.intern_welcome else ('',''),
                ('intern_apply', 'How to apply') if company.intern_welcome else ('','')
            ]
        ] %}
        <div>
            {% for prop, name in column %}
            {% if company[prop] != null and company[prop] is not none and company[prop] != '' %}
            <p>
            <strong>{{name}}:</strong> {{company[prop]}}
            </p>
            {% endif %}
            {% endfor %}
            {% if loop.last %}
            <p>
                <strong>Contacts:</strong>
                <table>
                    {% for contact in company.contacts %}
                    {% if contact.student_visible %}
                    <tr>
                        <td>{{contact.first_name}} {{contact.last_name}}</td>
                        <td>{{contact.role}}</td>
                        <td><a data-tooltip="{{contact.email}}" href="mailto:{{contact.email}}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7l8-5V6l-8 5l-8-5v2z"/></svg></a></td>
                        <td>{%if contact.phone %}<a data-tooltip="{{contact.phone}}" href="tel:{{contact.phone}}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/></svg></a>{% endif %}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="main container">

    {% if is_admin %}
    <h1>Company dashboard</h1>
    {% if company.company_publish %}
    <p>The above company profile is what students get to see.</p>
    {% else %}
    <p>Your above company profile is currently <strong>not visible to students</strong>! Click 'Edit company details' below to proceed...</p>
    {% endif %}

    <h2>Actions</h2>
    <ul>
        <li><a href="{{ url_for('edit_company', company_id=company.id)}}">Edit company details</a></li>
        {% if current_user.is_admin %} 
        <li><form style="display: inline;" onsubmit="return confirm('Do you really want to delete this company?');" method="POST" action="{{ url_for('delete_company', company_id=company.id)}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <a onclick="this.closest('form').submit();return false;">Delete company</a>
        </form></li>
        {% endif %}

        {% for safari in safaris %}
        {% set name = 'the Business Safari on ' + safari.first_date|string %}
        {% if safari.second_date %}
        {% set name = name + ' and ' + safari.second_date|string %}
        {% endif %}

        {% if safari.get_offer(company.id) %}
            {% if safari.company_signup_open %}
            <li><a class="safari-day" href="{{ url_for('show_safari_company', safari_id=safari.id, company_id=company.id) }}">Change availability details for {{name}}</a></li>
            {% else %}
            <li><a class="safari-day" href="{{ url_for('show_safari_company', safari_id=safari.id, company_id=company.id) }}">View signed up students for {{name}}</a></li>
            {% endif %}
        {% elif safari.company_signup_open %}
            <li><a class="safari-day" href="{{ url_for('show_safari_company', safari_id=safari.id, company_id=company.id) }}"><strong>Submit availability</strong> for {{name}}</a> &mdash; Note that the deadline is on {{safari.company_signup_end_date}}</li>
        {% endif %}
        {% endfor %}
    </ul>


    <h2>Update contacts</h2>
    <ul>
        {% for contact in company.contacts %}
        <li>
            {{contact.first_name}} {{contact.last_name}}
            · {{contact.role or 'no role'}}
            · {{'visible' if contact.student_visible else 'hidden'}}
            {{'· safari contact' if contact.safari_messages else ''}}
            · <a href="/companies/{{company.id}}/contacts/{{contact.id}}/edit">Edit</a>
            · <form style="display: inline-block;" method="post" action="/companies/{{company.id}}/contacts/{{contact.id}}/delete"><a onclick="this.closest('form').submit();return false;">Delete</a><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"></form>
        </li>
        {% endfor %}

        {% if not student_contact %}
        <li><strong>Warning: </strong>No student-visible contact person yet</li>
        {% endif %}
        {% if not safari_contact %}
        <li><strong>Warning: </strong>No contact person for Business Safaris yet</li>
        {% endif %}
        <li>
            <a href="/companies/{{company.id}}/contacts/add">Add a contact</a>
        </li>
    </ul>
    {% endif %}

    {% if current_user.is_authenticated %}
    <h1>Interns & reviews</h1>
    <p>Curious to know which fellow students interned here earlier, and what they have to say about the company? Coming soon! 😊</p>
    {% endif %}
</div>


{% endblock %}
