{% extends "layout.html" %}

{% block title %}
<a href="/people">People</a>
<div>{{'Add a person'}}</div>
{% endblock %}

{% block body %}

<article class="card">
    {% from "form-macro.html" import form_macro with context %}
    {{ form_macro(edit_form, action) }}
</article>

{% endblock %}