{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
    <a href="{{ url_for('show_companies') }}">Safari days</a>
    {% if form.first_date %}
        <a href="#">Add safari day</a>
    {% else %}    
    <a href="#">{{ company.name }} safari day participation</a>
    {% endif %}
{% endblock%}

{% block body %}
    <p>
        Please fill in the form below to let us know if {{ company.name }} can offer spots for the upcoming Business Safari. Please do so even if you cannot participate this time, so we'll know not to remind you.
    </p>

    <p>
        <b>Main safari date:</b> {{ safari.first_date }}
        {% if safari.second_date %}
            </br><b>Alternative safari date:</b> {{ safari.second_date }}
        {% endif%}
    </p>
    
    {{ form_macro(form, action) }}

    <p>
        The deadline for this form is on {{ safari.company_signup_end_date }}. Until that date you can change the information entered through this page. Afterwards, you'll find the list of students who have signed up here.
    </p>

{% endblock %}
