{% extends "layout.html" %}

{% block title %}
    <a href="/companies">Safari days</a>
    {% if safari.second_date %}
        <a href="#" >{{ safari.first_date }} and {{ safari.second_date }}</a>
    {% else %}
        <a href="#" >{{ safari.first_date }}</a>
    {% endif %}
{% endblock%}

{% block body %}
    <div class="company rows3">
        <div class="rows2">
            
            <h1>Participating companies</h1>

            <div class="safari columns">
                {% set is_student = 'no' %}
                
                {% if current_user.is_student %}
                    {% set is_student = 'yes' %}
                {% endif %}

                {% for offer in safari.offers %}
                    <div class="safari-day"
                        hx-get="{{ url_for('company_safari_info', company_id=offer.id, safari_id=safari.id, is_student=is_student) }}"
                        hx-target=".modal-content"
                    >
                        <div>
                            <h4>{{ offer.company.name }}</h4>
                            <i>{{ offer.company.city }}</i>
                        </div>

                        <div class="spots">
                            {% for safari_day in offer.safari_days %}
                                <div>
                                    <b>{{ safari_day.date }}</b>
                                    <div class="safari-status {% if safari_day.has_available_spots %}open{% else %}closed{% endif %}">
                                        {{ safari_day.student_count }}/{{ safari_day.number_of_students}} students
                                    </div>
                                </div>
                            {% endfor %}

                            {% if current_user.is_teacher %}
                                <div>
                                    <b>{{ offer.company.name }}</b>
                                    <button class="is-important"
                                        hx-confirm="Do you really want to delete this company from this safari?"
                                        hx-swap="none" 
                                        hx-post="{{ url_for('company_delete_safari', company_id=offer.company.id, safari_id=safari.id)}}"
                                    >
                                        Delete
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
    
            <div class="buttons">
                {% if current_user.is_teacher %}
                    <button hx-confirm="Do you really want to delete this safari?"
                        hx-swap="none" 
                        hx-post="{{ url_for('delete_safari', safari_id=safari.id)}}"
                    >
                        Delete safari
                    </button>
                {% elif session['company_id'] %}
                    {% if safari.company_signup_open %}
                        {% if session['company_id'] not in (safari.offers|map(attribute='company_id')) %}
                            <div class="add-button">
                                <a href="{{ url_for('company_join_safari', company_id=session['company_id'], safari_id=safari.id) }}">
                                    <button>
                                        Join this safari
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <!-- Content fetched by HTMX will be displayed here -->
            <p>Some text in the Modal..</p>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var modal = document.getElementById("modal");
            var modalContent = modal.querySelector(".modal-content");

            document.querySelectorAll('.safari-day').forEach(function(element) {
                element.addEventListener('click', function() {
                    modal.style.display = "block";
                });
            });

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        });
    </script>
{% endblock %}
